@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navegacao{
    margin: 24px 80px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: baseline;
    font-weight: 600;
    font-size: 32px;
}

.logo img{
    padding-right: 5px;
}

.nav-links{
    padding-left: 160px;
    font-weight: 400;
    font-size: 22px;
}

.nav-links a{
    padding-left: 26px;
    padding-right: 26px;
    color: black;
}

.pesquisa{
    display: flex;
    align-items: center;
    padding: 6px 20px 6px 20px;
    background: rgba(255, 249, 240, 0.1);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.lupa{
    padding-right: 16px;
}

.carrinho{
    padding-left: 16px;
}

.busca{
    border: none;
    border-right: 1px solid rgba(148, 140, 140, 0.31);
    height: 30px;
    background-color: rgba(255, 249, 240, 0.1);
    padding-left: 5px;
}

.busca::placeholder{
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.nav-links a:hover{
    color: #FF7E00;
}